* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ededed;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  font-size: 14px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

ul li {
  list-style: none;
}

.container_wrap {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_wrap ._left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container_wrap ._right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content_wrap {
  position: relative;
  height: 100%;
}
@media (min-width: 1200px) {
  .content_wrap {
    display: none;
  }
}
.content_wrap header {
  background-color: #ededed;
  position: sticky;
  top: 0;
  z-index: 1;
}
.content_wrap header svg {
  height: 25px;
  margin-right: 10px;
  stroke: #1e417c;
}
.content_wrap header .logo_img {
  height: 35px;
}
.content_wrap header .title {
  font-size: 16px;
  font-weight: 500;
}
.content_wrap header .notfy_cion {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content_wrap header .notfy_cion svg {
  height: 16px;
  margin: 0;
}
.content_wrap header .notfy_cion .count {
  position: absolute;
  top: -7px;
  right: -4px;
  width: 15px;
  height: 14px;
  border-radius: 5px;
  color: #0c0c0c;
  color: #fff;
  background: #ff5151;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding-top: 2px;
}
.content_wrap header .notfy_cion:active, .content_wrap header .notfy_cion:focus, .content_wrap header .notfy_cion:hover {
  background: #d7d7d7;
}
.content_wrap header .log_drp_dwn_wrap .btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_wrap header .log_drp_dwn_wrap .btn img {
  height: 100%;
}
.content_wrap header .log_drp_dwn_wrap .dropdown-menu {
  font-size: 11px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1098039216);
  width: 130px;
  background: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.content_wrap header .log_drp_dwn_wrap .dropdown-menu li {
  width: 100%;
}
.content_wrap header .log_drp_dwn_wrap .dropdown-menu li a {
  width: 100%;
  padding: 5px 10px;
  word-break: normal;
  font-weight: 300;
  color: #000;
  transition: all 0.3s;
}
.content_wrap header .log_drp_dwn_wrap .dropdown-menu li a:active, .content_wrap header .log_drp_dwn_wrap .dropdown-menu li a:focus, .content_wrap header .log_drp_dwn_wrap .dropdown-menu li a:hover {
  background: rgba(65, 94, 143, 0.2117647059);
  color: #000;
}
.content_wrap .dashborad_content {
  margin-top: 15px;
  background: #e3e3e3;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #000;
}
.content_wrap .dashborad_content .profile_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.content_wrap .dashborad_content .profile_wrap .pr_img {
  height: 100px;
  width: 100px;
  min-width: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}
.content_wrap .dashborad_content .profile_wrap .pr_img img {
  width: 100%;
  height: 100%;
}
.content_wrap .dashborad_content .profile_wrap .detl_wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content_wrap .dashborad_content .profile_wrap .detl_wrp h3 {
  font-size: 17px;
  margin-bottom: 8px;
  line-height: 1;
  font-weight: 600;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #1e417c;
}
.content_wrap .dashborad_content .profile_wrap .detl_wrp span {
  font-size: 11px;
  color: #3c3c3c;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 6px;
}
.content_wrap .dashborad_content .profile_wrap .detl_wrp span:last-child {
  margin-bottom: 0;
}
.content_wrap .dashborad_content .profile_wrap .arrow_btn {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: 30px;
}
.content_wrap .dashborad_content .profile_wrap .arrow_btn:active, .content_wrap .dashborad_content .profile_wrap .arrow_btn:focus, .content_wrap .dashborad_content .profile_wrap .arrow_btn:hover {
  background: #d7d7d7;
}
.content_wrap .dashborad_content .profile_wrap .arrow_btn svg {
  stroke: #7e7c7c;
  height: 25px;
}
.content_wrap .dashborad_content .dash_widget {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
.content_wrap .dashborad_content .dash_widget li {
  flex-basis: 100%;
  -ms-flex: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1098039216);
  min-height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  word-break: break-word;
  width: -moz-max-content;
  width: max-content;
  line-height: 1.3;
}
.content_wrap .dashborad_content .dash_widget li i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(30, 65, 124, 0.2196078431);
  border-radius: 10px;
  margin-right: 15px;
}
.content_wrap .dashborad_content .dash_widget li i svg {
  height: 30px;
  fill: #000;
}
.content_wrap .dashborad_content .dash_widget li .widget_title {
  font-size: 16px;
  font-weight: 500;
  color: #1e417c;
}
@media (min-width: 557px) {
  .content_wrap .dashborad_content .dash_widget li {
    flex-basis: 48%;
  }
}
@media (min-width: 767px) {
  .content_wrap .dashborad_content .dash_widget li {
    flex-basis: 32%;
  }
}
@media (min-width: 992px) {
  .content_wrap .dashborad_content .dash_widget li {
    flex-basis: 24%;
  }
}
.content_wrap .graph_sec {
  margin-top: 30px;
  -moz-column-count: 2;
       column-count: 2;
  gap: 15px;
}
.content_wrap .graph_sec .widget {
  background: rgba(255, 255, 255, 0.5411764706);
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1098039216);
  min-height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  word-break: break-word;
  width: -moz-max-content;
  width: max-content;
  line-height: 1.3;
  width: 100%;
  padding: 20px;
  border: 1px solid #a4b4c5;
}
.content_wrap .graph_sec .widget .valu_wrap {
  margin-left: 10%;
}
.content_wrap .graph_sec .widget .valu_wrap .value {
  font-size: 26px;
  font-weight: 600;
  color: #003e7e;
  line-height: 1;
  margin-bottom: 5px;
}
.content_wrap .graph_sec .widget .valu_wrap .sub_title {
  font-size: 12px;
  font-weight: 400;
  color: #5e5e5e;
}
.content_wrap .graph_sec .widget.orng {
  border: 1px solid #ffdcb1;
  background: #fff9f1;
}
.content_wrap .graph_sec .widget.orng .icon_wrap {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffe1bf;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 500;
  color: #ff8b07;
  border: 1px solid #ffce92;
}
.content_wrap .graph_sec .widget.orng .valu_wrap .value {
  color: #ff8b07;
}

.progress-container {
  position: relative;
  width: 60px;
  height: 60px;
}
.progress-container .progress-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#003e7e 0%, #003e7e 25%, #e3e2e2 25%, #e3e2e2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-container .progress-circle .progress-value {
  font-size: 0;
  width: 80%;
  height: 80%;
  background: #fff;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */