@import "_variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: $body_clr;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  font-size: 14px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}
ul{
  li{
    list-style: none;
  }
}
.container_wrap{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ._left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  ._right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.content_wrap{
  position: relative;
  height: 100%;
  @media (min-width:1200px){
   display: none;
  }
  header{
    background-color: $body_clr;
    position: sticky;
    top: 0;
    z-index: 1;
    svg{
      height: 25px;
      margin-right: 10px;
      stroke: $base_color;
    }
    .logo_img{
      height: 35px;
    }
    .title{
      font-size:16px;
      font-weight: 500;
    }
    .notfy_cion{
      margin-right: 15px;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      svg{
        height: 16px;
        margin: 0;
      }
      .count{
        position: absolute;
        top: -7px;
        right: -4px;
        width: 15px;
        height: 14px;
        border-radius: 5px;
        color: #0c0c0c;
        color: #fff;
        background: #ff5151;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        padding-top: 2px;
      }
      &:active,
      &:focus,
      &:hover{
        background: #d7d7d7;
      }
    }
    .log_drp_dwn_wrap{
      .btn{
        width: 35px;
        height: 35px;    
        border-radius: 50%;
        border: none;
        overflow: hidden;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          height: 100%;
        }
      }
      .dropdown-menu {
        font-size: 11px;
        border: 1px solid #e5e5e5;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, .10980392156862745);
        width:130px;
        background: $white_color;
        padding-top: 0px;
        padding-bottom: 0px;
        li{
          width: 100%;
          a{
            width: 100%;
            padding: 5px 10px;
            word-break: normal;
            font-weight: 300;
            color: $black_color;
            transition: all 0.3s;
            &:active,
            &:focus,
            &:hover{
              background: #415e8f36;
              color: $black_color;
            }
          }
        }
      }
    }
  }
  .dashborad_content{
    margin-top: 15px;
    background: #e3e3e3;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: $black_color;
    .profile_wrap{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      .pr_img{
        height: 100px;
        width: 100px;
        min-width: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 50%;
        margin-right: 15px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .detl_wrp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
          font-size: 17px;
          margin-bottom: 8px;
          line-height: 1;
          font-weight: 600;
          max-width: max-content;
          color: $base_color;
        }
        span{
          font-size: 11px;
          color: #3c3c3c;
          font-weight: 300;
          line-height: 1;
          margin-bottom: 6px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .arrow_btn{
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;
        background: $white_color;
        border-radius: 50%;
        position: absolute;
        right: 30px;
        &:active,
        &:focus,
        &:hover{
          background: #d7d7d7;
        }
        svg{
          stroke: #7e7c7c;
          height: 25px;      
        }
      }
    }
    .dash_widget{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: 10px;
      padding: 0;
      margin: 0;
      margin-top: 25px;
      li{
        flex-basis: 100%;
        -ms-flex: auto;
        padding: 20px;
        background: $white_color;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1098039216);
        min-height: 100px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        word-break: break-word;
        width: max-content;
        line-height: 1.3;
        i{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #1e417c38;
          border-radius: 10px;
          margin-right: 15px;
          svg{
            height: 30px;
            fill: $black_color;
          }
        }
        .widget_title{
          font-size: 16px;
          font-weight: 500;
          color: $base_color;
        }
        @media (min-width:557px){
          flex-basis: 48%;
        }
        @media (min-width:767px){
          flex-basis: 32%;
        }
        @media (min-width:992px){
          flex-basis: 24%;
        }
      }
    }
  }
  .graph_sec{
    margin-top: 30px;
    column-count: 2;
    gap: 15px;
    .widget{
      background: #ffffff8a;
      box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1098039216);
      min-height: 100px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      word-break: break-word;
      width: -moz-max-content;
      width: max-content;
      line-height: 1.3;
      width: 100%;
      padding: 20px;
      border: 1px solid #a4b4c5;
      .valu_wrap{
        margin-left: 10%;
        .value{
          font-size: 26px;
          font-weight: 600;
          color: #003e7e;
          line-height: 1;
          margin-bottom: 5px;
        }
        .sub_title{
          font-size: 12px;
          font-weight: 400;
          color: #5e5e5e;
        }
      }
      &.orng{
        border: 1px solid #ffdcb1;
        background: #fff9f1;
        .icon_wrap{
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ffe1bf;
          border-radius: 50%;
          font-size: 30px;
          font-weight: 500;
          color: #ff8b07;
          border: 1px solid #ffce92;
        }
        .valu_wrap{
          .value{
            color: #ff8b07;
          }
        }
      }
    }
  }
}



.progress-container {
  position: relative;
  width: 60px;
  height: 60px;

  .progress-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#003e7e 0%, #003e7e 25%, #e3e2e2 25%, #e3e2e2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    .progress-value {
      font-size: 0;
      width: 80%;
      height: 80%;
      background: #fff;
      border-radius: 50%;
    }
  }
}

